<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2>로그인 성공</h2>
<h2 sec:authentication="name"></h2>
<a href="/logout">로그아웃</a>

<a href="/boardWrite">게시판 작성하러가기</a>


<table>
    <tr>
        <td>#</td>
        <td>제목</td>
        <td>내용</td>
    </tr>
    <tr th:each="board:${boardList}">
        <td th:text="${board.getId()}"></td>
        <td th:text="${board.getTitle()}"></td>
        <td th:text="${board.getContent()}"></td>
    </tr>
</table>
</body>
</html>